<! -- 添加捐赠图标 -->
<div class ="post-donate">
    <div id="donate_board" class="donate_bar center">
        <a id="btn_donate" class="btn_donate" href="javascript:;" title="打赏"></a>
        <span class="donate_txt">
           ↑<br>
		   <%=theme.donate_message%>
        </span>
        <br>
      </div>  
	<div id="donate_guide" class="donate_bar center hidden" >
		<a href="<%=theme.alipay%>" data-caption="支付宝打赏" class="fancybox" rel="article0" data-fancybox="donate">
			<!-- 支付宝打赏图案 -->
			<img src="<%=theme.alipay%>"  alt="支付宝打赏" title="支付宝打赏" id="alipay"/>
		</a>
		<a href="<%=theme.wechat%>" data-caption="微信打赏" class="fancybox" rel="article0" data-fancybox="donate">
			<!-- 微信打赏图案 -->
			<img src="<%=theme.wechat%>" alt="微信打赏" title="微信打赏" id="wechatpay"/> 
		</a>
    </div>
	<script type="text/javascript">
		document.getElementById('btn_donate').onclick = function(){
			$('#donate_board').addClass('hidden');
			$('#donate_guide').removeClass('hidden');
		}
	</script>
</div>
<! -- 添加捐赠图标 -->
